.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0rem;
  margin: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
 
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.55rem;
  width: 100%;
  border-radius: 200px;
  border: gray;
}

.navbar-left .heroLogo {
  height: 40px;
  color: var(--citron);
  stroke-width: 1;
  transition: stroke-width 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.navbar-left .heroLogo:hover {
  stroke-width: 2.3;
}

.navbar-left {
  font-size: 2rem;
  display: flex;
  font-weight: 600;
  align-items: center;
  gap: 16px;
  height: 50px;
  transition: all 0.3s ease-in-out, transform 0.2s ease-in-out,
    background-position 0.4s ease-in-out;
  stroke-width: 2.3;

  background: linear-gradient(
    90deg,
    var(--citron),
    var(--syracuse-red-orange),
    var(--claret)
  );
  background-size: 200% 100%;
  background-position: 0% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.navbar-left:hover {
  border-radius: 200px;
  font-weight: 900;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: -0.2rem;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  background-position: 100% 50%;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-right .label {
  list-style: none;
  display: flex;
  border-radius: 200px;
}

.navbar-right .label a {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  text-decoration: none;
  color: white;
  line-height: 1;
}

.navbar-right .icon {
  /* width: 25px; */
  height: 25px;
  display: block;
  object-fit: contain;
  color: white;
}

.navbar-right a {
  text-decoration: none;
  border-radius: 200px;
  background-color: rgba(var(--syracuse-red-orange-red-orange-rgb), 0.5);
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 6px;
  flex-direction: row;
  transition: all 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.navbar-right .label a:last-child {
  transform-origin: right center;
}

.navbar-right .label a:hover {
  border-radius: 200px;
  font-weight: 900;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  background-color: rgba(var(--syracuse-red-orange-red-orange-rgb), 1);
  transform: scale(1.02);
}
