.tag {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
  white-space: nowrap;
  margin-right: 0.25rem;
  border: 0.5px solid white;
}
