.picture {
  border-radius: 50%;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
}


.grid-item {
    padding: 1rem;
    border: 2px solid var(--syracuse-red-orange);
    border-radius: 20px;
}

.tags-container {
  display: flex;          /* horizontal layout */
  flex-wrap: wrap;        /* move to next line if too many */
  gap: 0.25rem;           /* spacing between tags */
  align-items: center;    /* vertical alignment */
}
