.picture {
  border-radius: 50%;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
}

.grid-item {
    padding: 1rem;
    border: 1px solid var(--syracuse-red-orange);
    border-radius: 20px;
}
