.container {
  display: flex;
  gap: 1rem;
}

.left {
  flex: 3;
}

.right {
  flex: 2;
}

.order-details {
  background-color: rgba(var(--claret-rgb), 0.2);
  padding: 1rem;
  border: 4px solid var(--claret);
  border-radius: 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.order-item-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--citron);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}
