.container {
  display: flex;
  gap: 1rem;
}

.left {
  flex: 3;
  margin: 0;
}

.right {
  flex: 2;
}

.order-details {
  background-color: rgba(var(--claret-rgb), 0.2);
  padding: 1rem;
  border: 4px solid var(--claret);
  border-radius: 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;

}
